body {
  background-color: #FFCC66;
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  
}

.masthead-h1,
.masthead-intro, 
.footer {
    text-align: center;
}

.intro,
.where,
.more {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.masthead {
  background-image: url('https://ununsplash.imgix.net/photo-1416339672936-7fe434088e8c?q=75&fm=jpg&s=56184654e18350b3f7f872747a7b9e61');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: solid 1em #111111;
  padding: 6em 0;
}

.masthead-intro {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  opacity: 1;
}

.masthead-h1 {
  text-align: center;
  color: #FFFFFF;
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  font-variant: small-caps;
}

.intro > p,
.where > p,
.footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.intro > h1,
.where > h1,
.more  > h1 {
    /* Typography Declarations */
    font-weight: bold;
    color: #222222;
    font-variant: small-caps;
}

.more > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.more {
  padding-bottom: 1em;
}

.footer {
  background-color: #FEFDFC;
  padding: 1.5em 0;
}

.footer > p {
 color: black;
}

.social > li {
    display: inline-block;
}